{% extends "accueil.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block sidemenu %}
{% endblock %}
{% block body %}
<div class="container-fluid">
   <div class="row">
      <form class="form-signin">
         <h2 class="form-signin-heading">Please sign in</h2>
         <label for="inputEmail" class="sr-only">Email address</label>
         <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
         <div class="checkbox">
            <label>
               <input type="checkbox" value="remember-me"> Remember me
             </label>
         </div>
         <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign in</button>
      </form>
   </div>
</div> <!-- /container -->
{% endblock %}
