{% extends "accueil.html" %}
{% block title %}Expense x Income per Month{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block sidemenu %}
<!-- May be removed if not used. -->
<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Options <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accueil')}}">Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('under_construction')}}">Export</a>
            </li>
          </ul>
	</nav>
      </div>
</div>
{% endblock %}
{% block body %}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <h2 class="form-signin-heading">{{'Expenses x Incomes per Month'}}</h2>
       </div>
       <div class="col-sm-6 my-auto text-right">
       </div>
   </div>
   <div class="row">
      <div>
    <a href="{{ chart_url }}" target="_blank" title="mpl-multiple-bars" style="display: block; text-align: center;">
    <img src="{{ chart_url }}" alt="mpl-multiple-bars" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="jrdantas:0" sharekey-plotly="h9wVrinzd5sWUOxpCB468f" src="https://plot.ly/embed.js" async></script>
</div>
   </div><!-- /row -->
</div> <!-- /container -->
{% endblock %}
