{% extends "accueil.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block sidemenu %}
<!-- not used. -->
{% endblock %}
{% block body %}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <h2 class="form-signin-heading">{{'Sign up'.title()}}</h2>
       </div>
       <div class="col-sm-6 my-auto text-right">
       </div>
   </div>

      <div class="row">
	<form action="{{url_for('insert_person')}}" method="post">
	   <div class="form-group">
	      <label for="inputName">Name</label>
	      <input type="text" class="form-control" name="inputName" placeholder="Your name" required autofocus>
	   </div>
	   <div class="form-group">
	      <label for="inputCompany">Company</label>
	      <input type="text" class="form-control" name="inputCompany" placeholder="Your company" required>
	   </div>
	   <div class="form-group">
	      <label for="inputEmail">Email address</label>
	      <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
	      <!--<small id="emailHelp" class="form-text text-muted">We'll answer to the informed email.</small>-->
	   </div>
	   <div class="form-group">
              <label for="inputPassword1" class="sr-only">Enter password</label>
              <input type="password" name="inputPassword1" class="form-control" placeholder="Password" required>
	   </div>
	   <div class="form-group">
              <label for="inputPassword2" class="sr-only">Repeat password</label>
              <input type="password" name="inputPassword2" class="form-control" placeholder="Repeat password" required>
	   </div>
           <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </form>
      </div>
</div>
{% endblock %}
