{% extends "accueil.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block sidemenu %}
<!-- May be removed if not used. -->
<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Options <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accueil')}}">Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('under_construction')}}">Export</a>
            </li>
          </ul>
	</nav>
      </div>
</div>
{% endblock %}
{% block body %}
{% endblock %}
