{% extends "accueil.html" %}
{% block title %}Month Expense{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block sidemenu %}
<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Options <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accueil')}}">Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('under_construction')}}">Export</a>
            </li>
          </ul>
	</nav>
      </div>
</div>
{% endblock %}
{% block body %}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <h2 class="form-signin-heading">{{'family expenses'.title()}}</h2>
      </div>
      <div class="col-sm-6 my-auto text-right">
         <div class="dropdown">
            <label>Filter by Month/Year</label>
            <button class="btn btn-light btn-sm align-middle dropdown-toggle" type="button" id="dropdownMenuButton" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Select all
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-menu">
               <li><a class="dropdown-item" value="" href="{{ url_for('family_expense')}}">Select all</a></li>
               <li><a class="dropdown-item" value="10/2017" href="{{ url_for('family_expense', filters='12/2017')}}">12/2017</a></li>
               <li><a class="dropdown-item" value="10/2017" href="{{ url_for('family_expense', filters='11/2017')}}">11/2017</a></li>
               <li><a class="dropdown-item" value="10/2017" href="{{ url_for('family_expense', filters='10/2017')}}">10/2017</a></li>
               <li><a class="dropdown-item" value="09/2017" href="{{ url_for('family_expense', filters='09/2017')}}">09/2017</a></li>
               <li><a class="dropdown-item" value="08/2017" href="{{ url_for('family_expense', filters='08/2017')}}">08/2017</a></li>
               <li><a class="dropdown-item" value="07/2017" href="{{ url_for('family_expense', filters='07/2017')}}">07/2017</a></li>
               <li><a class="dropdown-item" value="06/2017" href="{{ url_for('family_expense', filters='06/2017')}}">06/2017</a></li>
               <li><a class="dropdown-item" value="05/2017" href="{{ url_for('family_expense', filters='05/2017')}}">05/2017</a></li>
               <li><a class="dropdown-item" value="04/2017" href="{{ url_for('family_expense', filters='04/2017')}}">04/2017</a></li>
               <li><a class="dropdown-item" value="03/2017" href="{{ url_for('family_expense', filters='03/2017')}}">03/2017</a></li>
               <li><a class="dropdown-item" value="02/2017" href="{{ url_for('family_expense', filters='02/2017')}}">02/2017</a></li>
               <li><a class="dropdown-item" value="01/2017" href="{{ url_for('family_expense', filters='01/2017')}}">01/2017</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
 	          {% for column in columns %}
                     <th>{{ column }}</th>
  		  {% endfor %}
                </tr>
              </thead>
              <tbody>
	        {% for element in elements %}
                <tr>
                  {% for i in range(element|length) %}       
                     {% if element[i]|datetime %} 
                        <td>{{ element[i].strftime('%d/%m/%Y')|sn }}</td>
                     {% else %} 
                        {% if element[i]|number %}
                            <td><span class="float-right">{{ element[i]|sn }}</span></td>
                        {% else %}
                            <td>{{ element[i]|sn }}</td>
                        {% endif %}
                     {% endif %}
                  {% endfor %}
	        </tr>
		{% endfor %}
              </tbody>
              <tfoot>
                <tr>
                   <th></th>
                   <th>Total</th>
                   <th></th>
                   <th>{{ '%0.2f' % total_amount[0]|float }}</th>
                   <th></th>
                   <th></th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /table -->
   </div><!-- /row -->
	   <div class="row">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                   <th>Total</th>
                   <th>Parte Adrianna</th>
                   <th>Pago Adrianna</th>
                   <th>Diferença Adrianna</th>
                   <th>Parte Renato</th>
                   <th>Pago Renato</th>
                   <th>Diferença Renato</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                   <th>{{ '%0.2f' % total_amount[0]|float }}</th>
                   <th>{{ '%0.2f' % total_amount[3]|float }}</th>
                   <th>{{ '%0.2f' % total_amount[1]|float }}</th>
                   <th>{{ '%0.2f' % total_amount[5]|float }}</th>
                   <th>{{ '%0.2f' % total_amount[4]|float }}</th>
                   <th>{{ '%0.2f' % total_amount[2]|float }}</th>
                   <th>{{ '%0.2f' % total_amount[6]|float }}</th>
                </tr>
              </tbody>
          </div><!-- /table -->
   </div><!-- /row -->

</div> <!-- /container -->

{% endblock %}
