{% extends "accueil.html" %}
{% block title %}List{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block sidemenu %}
<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Options <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('insert', instance=instance)}}">New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('accueil')}}">Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('under_construction')}}">Export</a>
            </li>
          </ul>
	</nav>
      </div>
</div>
{% endblock %}
{% block body %}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <h2 class="form-signin-heading">{{instance.title()}}</h2>
      </div>
   </div>
   <div class="row">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
 	          {% for column in columns %}
                     <th>{{ column }}</th>
  		  {% endfor %}
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
	        {% for element in elements %}
                <tr>
                  {% for i in range(element|length) %}       
                     {% if element[i]|datetime %} 
                        <td>{{ element[i].strftime('%d/%m/%Y')|sn }}</td>
                     {% else %} 
                        {% if element[i]|number %}
                            <td><span class="float-right">{{ element[i]|sn }}</span></td>
                        {% else %}
                            <td>{{ element[i]|sn }}</td>
                        {% endif %}
                     {% endif %}
                  {% endfor %}
        	  <td><a href="{{ url_for('show', instance=instance, id=element[0])}}">Show</a></td>
	          <td><a href="{{ url_for('under_construction')}}">Edit</a></td>
	          <td><a href="{{ url_for('remove', instance=instance, id=element[0])}}">Remove</a></td>
	        </tr>
		{% endfor %}
              </tbody>
            </table>
          </div><!-- /table -->
   </div><!-- /row -->
	<!--<button type="button" class="btn btn-link">New</button>
	<button type="button" class="btn btn-link">Back</button>-->
</div> <!-- /container -->

{% endblock %}
